doctype
html
  head
    title #{title} 
    meta(http-equiv='ContentType', content='text/html', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-responsive.min.css')
    script(type='text/javascript', src='/js/jquery/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/css/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/app/tweetstreamer.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type="text/javascript", src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAkZRfRG9aRJPoVEuxI8mZLSs3Ouh-SVV4&sensor=false')
   
  body#page-body   
    div.container
      div.navbar.navbar-inverse.navbar-fixed-top
        div.navbar-inner
          div.container
            button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(class="brand" , href="#")  TweetLocator
            div.nav-collapse.collapse    
               p.navbar-text.pull-right 
                 span Positive
                 span#positive.badge.badge-success   
                 &nbsp;&nbsp;&nbsp; 
                 span Negative 
                 span#negative.badge.badge-important   
                 &nbsp;&nbsp;&nbsp; 
                 span Failed Geo Coding Lookups 
                 span#failed-lookups.badge.badge-important   
                 &nbsp;&nbsp;&nbsp; 
                 span Plotted tweets 
                 span#tweetcount.badge.badge-success  
                 span &nbsp;&nbsp;&nbsp; 
      
    block content1





