!!!5
html
  head
    title #{title} 
    meta(http-equiv='ContentType', content='text/html', charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap/css/bootstrap-responsive.min.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js')
    script(type='text/javascript', src='/css/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/js/app/user-create.js')


     
   body   
       div.navbar.navbar-inverse.navbar-fixed-top
         div.navbar-inner
           div.container-fluid
             button(type="button", class="btn btn-navbar", data-toggle="collapse", data-target=".nav-collapse")
               span.icon-bar
               span.icon-bar
               span.icon-bar
             a(class="brand" , href="#")  Feed Express
             div.nav-collapse.collapse    
             - if( (typeof session.logged_in != undefined) && (session.logged_in === true)) 
                p.navbar-text.pull-right 
                  a(class="navbar-link", href="/logout") Logout [#{session.userdetails.emailid}]                
             - else   
                p.navbar-text.pull-right 
                  a(class="navbar-link", href="/signup") Signup         
                ul.nav
                 li.active
                   a(href="#") Home
                 li
                   a(href="#") Services
                 li
                   a(href="#") Contact Us
                  

       div.container-fluid
         div.row-fluid
           div.span2
             div.well.sidebar-nav
               ul.nav.nav-list
                 li.nav-header  
                      Applications
                 li.active 
                   a(href='/social/tweets') Social Feeds 
                 li
                   a(href='/create/user') Users
                 li
                   a(href='/create/group') Groups
                 li
                   a(href='#') Add-ons
                 li
                   a(href='#') Settings
                 li

           div.span9
             block content1
